html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(to top left,#ffe29f,#ffa99f,#ff719a); */
  background: linear-gradient(200deg,#e3c5eb,#a9c1ed);
}

.full_page{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.flex_page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#content_box{
  z-index: 1;
}

#edit_page{
  z-index: 999;
  background-color: rgba(0,0,0,.8);
}

.edit_box {
  position: relative;
  width: 350px;
  height: 240px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);

  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.edit_box input{
  width: 100%;
  padding: 16px 4px;
  margin: 8px 1px;
  box-sizing: border-box;
  outline-style: none;
  border: 1px solid #ccc; 
  border-radius: 3px;
  text-indent: 8px;
}

.edit_box input:focus{
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.edit_box input::placeholder{
  text-transform: uppercase;
}

#edit_button_box {
  width: 90%;
  height: 40px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#edit_button_box button{
  height: 100%;
  width: 48%;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

#accept_edit_btn{
  background-color: #4285f4;
  color: #fff;
  border: none;
}

#reject_edit_btn{
  background-color: #ffffff;
  border: 1px solid #ccc; 
  color: #4285f4;
}

.link_list {
  width: 100%;
  text-align: center;
}

.link_list_section {
  width: 100%;
  height: 100%;
}

.link_list_group {
  width: 100%;
  height: 100%;
}

.link_card {
  float: left;
  margin: 5px;
  padding-left:0%;

  box-sizing: border-box;
  position: relative;
  width: 120px;
  height: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.link_card a{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;

  line-height: 50px;
  background: rgba(0,0,0,.35);
  color: #FFF;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s;
}

.link_card a:hover, a:focus{
  background: rgba(0,0,0,.45);
  font-size: 15px;
  font-weight: bold;
}

.link_card_delete {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  border-left:5px solid #ff0000;
}

.link_card_delete:hover{
  background: #ff0000;
}